@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


html,
body {
    margin: 0;
    padding: 0;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    z-index: 99;

    .logo {
        img {
            padding-left: 4em;
            width: 10em;
        }
    }

    ul {
        display: flex;
        background-color: #F7D708;
        opacity: 0.4;
        text-align: center;
        padding-top: 1em;

        li {
            padding: 2em;
        }
    }
}

#main.black {
    background-color: #F7D708;
    height: 105vh;
    transition: 1.2s ease;

    .news_card {
        position: absolute;
        padding: 10px;
        right: 1.5em;
        bottom: 5em;
        width: 30%;
        border-radius: 9px;
        background: #f0d000;
        box-shadow: -11px 11px 22px #d6b900,
            11px -11px 22px #ffe700;

        a {
            color: white;
        }

        .news_ttl {
            font-size: 0.8em;
        }

        .news_day {
            font-size: 0.6em;
        }

        .news_text {
            font-size: 0.4em;
        }

        .news_more {
            font-size: 0.8em;
            float: right;
            margin-right: 10px;
        }
    }
}

main {
    background-color: #161616;
    transition: 1.2S ease;

    .top_page {
        height: 105vh;
        position: relative;

        .main_ttl {
            position: absolute;
            left: 8em;
            top: 16%;
            font-family: 'Montserrat', sans-serif;
            color: #333333;

            h1 {
                font-size: 8em;
            }

            p {
                font-size: 3em;
                border-bottom: 1px solid;
            }
        }

        .news_card {
            position: absolute;
            padding: 10px;
            right: 1.5em;
            bottom: 5em;
            width: 30%;
            height: 30%;
            background-color: #000;
            color: rgba(255, 255, 255, 0.747);
            border-radius: 3px;
            background: #030303;
            box-shadow: 11px 11px 22px #030303,
                -11px -11px 22px #030303;

            a {
                color: white;
            }

            .news_ttl {
                font-size: 0.8em;
            }

            .news_day {
                font-size: 0.6em;
            }

            .news_text {
                font-size: 0.4em;
            }

            .news_more {
                font-size: 0.8em;
                float: right;
                margin-right: 10px;
            }
        }
    }
}

.about {
    position: relative;
    height: 150vh;
    background-color: #161616;
    font-family: 'Montserrat', sans-serif;

    .wrapper {
        background: url(../img/img02.jpg);
        opacity: 0.4;
        height: 65%;
        background-size: cover;
    }

    svg {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 7em;
        z-index: 1;
    }

    .about_text {
        position: absolute;
        right: 5em;
        top: 75vh;
        color: white;
        width: 35%;
        height: 30vh;

        h2 {
            font-size: 7em;
        }

        p {
            font-size: 1em;
            color: rgba(255, 255, 255, 0.747);
        }
    }
}

.member {
    height: 100vh;
    background-color: #161616;
    width: 100%;

    .member_icon {
        display: flex;
        padding: 3em;

    }

    img {
        width: 150px;
        border-radius: 50%;
        margin: 3em;
    }
}

.demo {
    height: 30vh;
    background-color: rgb(232, 236, 236);
}

footer {
    height: 50vh;
    position: fixed;
    bottom: 0;
    z-index: -1;
    background-color: cyan;

}


.animate {
    animation: reveal 1.8s forwards;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateX(-80px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}