html,
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background-color: #161616;
    position: relative;

    .table01 {
        position: absolute;
        top: 10vh;
        left: 10%;
        width: 80%;
        height: 80vh;
        background-color: rgb(223, 223, 223);

        .table-flex {
            display: flex;
            justify-content: space-around;

            .table-img {


                img {
                    height: 80vh;
                    object-fit: cover;
                }
            }

            .table-text {
                background-color: #272727;
                margin-top: 20vh;
                margin-bottom: 3vh;
                color: rgb(255, 255, 255);
                padding: 5vh 10% 0 10%;
                border-radius: 0px;
                // background: #ece4e4;
                box-shadow: 6px 6px 12px #d7cfcf,
                    -6px -6px 12px #fff9f9;

                h3 {
                    text-align: center;
                    padding: 5vh;
                }

                li {
                    list-style: none;
                }
            }
        }
    }
}