body,
html {
  margin: 0;
}

body {
  background-color: #161616;
}

h1 {
  font-size: 14vw;
  font-weight: 700;
  font-family: 'Kaushan Script', cursive;
  flex: 1;
  position: relative;
  text-align: center;
  margin: 0;
  -webkit-text-fill-color: transparent;
  background-image: url(../img/top01.gif);
  background-size: cover;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

  .header_nav {
    position: absolute;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.6);

    img {
      width: 5em;
    }

    ul {
      display: flex;
      justify-content: space-around;

      a {
        text-decoration: none;
        color: white;
        font-family: 'Kaushan Script', cursive;
        margin: auto;
      }

      li {
        list-style: none;
        padding-right: 10px;
      }
    }
  }

  .news_card {
    position: absolute;
    padding: 10px;
    right: 1.5em;
    bottom: 2em;
    width: 30%;
    height: 30%;
    background-color: #000;
    color: rgba(255, 255, 255, 0.747);
    border-radius: 3px;
    background: #030303;
    box-shadow: 11px 11px 22px #030303,
      -11px -11px 22px #030303;
      a{
        text-decoration: none;
        color: white;
      }
    .news_ttl {
      font-size: 0.8em;
    }

    .news_day {
      font-size: 0.6em;
    }

    .news_text {
      font-size: 0.4em;
    }

    .news_more {
      font-size: 0.8em;
      float: right;
      margin-right: 10px;
    }
  }
}


section {
  .about {
    height: 100vh;
    position: relative;

    h3 {
      font-size: 8em;
      color: tomato;
    }

    svg {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  .member {
    height: 100vh;

    h3 {
      font-size: 8em;
      color: tomato;
    }
  }
}

footer {
  height: 50vh;
  background-color: #868484;

  h3 {
    font-size: 8em;
    color: tomato;
  }
}