@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet');
body,
html {
  margin: 0;
}

body {
  background-color: #161616;
}

.top {
  width: 100%;
  height: 105vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #161616;
}

.top .news_card {
  position: absolute;
  padding: 10px;
  right: 1.5em;
  bottom: 5em;
  width: 30%;
  height: 30%;
  background-color: #000;
  color: rgba(255, 255, 255, 0.747);
  border-radius: 3px;
  background: #030303;
  -webkit-box-shadow: 11px 11px 22px #030303, -11px -11px 22px #030303;
          box-shadow: 11px 11px 22px #030303, -11px -11px 22px #030303;
}

.top .news_card a {
  text-decoration: none;
  color: white;
}

.top .news_card .news_ttl {
  font-size: 0.8em;
}

.top .news_card .news_day {
  font-size: 0.6em;
}

.top .news_card .news_text {
  font-size: 0.4em;
}

.top .news_card .news_more {
  font-size: 0.8em;
  float: right;
  margin-right: 10px;
}

h1 {
  font-size: 14vw;
  font-weight: 700;
  font-family: 'Kaushan Script', cursive;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin: 0;
  -webkit-text-fill-color: transparent;
  background-image: url(../img/top01.gif);
  background-size: cover;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
}

.main {
  position: relative;
  height: 100vh;
}

.main .wrapper {
  background: url(../img/about_img.jpg);
  opacity: 0.4;
  height: 70%;
  background-size: cover;
}

.main svg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 5em;
  z-index: 1;
}

.main .about {
  position: absolute;
  right: 2em;
  top: 60vh;
  color: white;
  width: 45%;
  height: 30vh;
}

.main .about h2 {
  font-size: 7em;
  font-family: 'Kaushan Script', cursive;
}

.main .about p {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.747);
}

.animate {
  -webkit-animation: reveal 1.8s forwards;
          animation: reveal 1.8s forwards;
}

@-webkit-keyframes reveal {
  from {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.member {
  position: relative;
  height: 150vh;
}

.member .member-icon {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  height: 90vh;
  width: 100%;
  background-color: white;
  background-image: url(../img/memberlogo01.png);
  background-size: cover;
}

.member .member-icon .item1 {
  position: absolute;
  top: 0%;
  left: 50%;
}

.member .member-icon .item2 {
  position: absolute;
  top: 25%;
  left: 90%;
}

.member .member-icon .item3 {
  position: absolute;
  top: 25%;
  left: 10%;
}

.member .member-icon .item4 {
  position: absolute;
  top: 70%;
  left: 30%;
}

.member .member-icon .item5 {
  position: absolute;
  top: 70%;
  left: 70%;
}

.member img {
  width: 15em;
  border-radius: 50%;
}

footer {
  height: 40vh;
  background-color: #d3d1d1;
}
/*# sourceMappingURL=top.css.map */